
<nav class="navbar bg-body-tertiary py-3 px-2">
    <form class="container-fluid justify-content-between">
        <h4 class="m-0">CRUD ANGULAR</h4>
        <article>
            <a href="/admin/livros">
                <button class="btn btn-outline-secondary me-2" type="button">Livros</button></a>
            <a href="/admin/carros">
                <button class="btn btn-outline-secondary me-2" type="button">Carros</button></a>
            <a href="/admin/pessoas">
                <button class="btn btn-outline-secondary me-2" type="button">Pessoas</button></a>
            <a href="/login">
                <button type="button" class="btn btn-outline-danger">Sair</button>
            </a>
        </article>
    </form>
</nav>