

<section class="d-flex align-items-center vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                    class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form (ngSubmit)="logar()">
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3">Login</label>
                        <input type="email" id="form3Example3" class="form-control form-control-md"
                            [(ngModel)]="usuario.login" placeholder="Digite o login" />
                    </div>
                    <div class="form-outline mb-3">
                        <label class="form-label" for="form3Example4">Senha</label>
                        <input type="password" id="form3Example4" class="form-control form-control-md"
                            [(ngModel)]="usuario.senha" placeholder="Digite a senha" />
                    </div>
                    <div class="text-center mt-4 pt-2">
                        <a href="/admin">
                            <button type="button" class="btn btn-primary btn-md"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Entrar</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>